.navbar {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.navbar a {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(116, 38, 38);
  text-decoration: none;

  border-radius: 50%;

  transition: all 0.3s ease;
}

.navbar a:hover {
  background: rgb(248, 196, 172);
  box-shadow: 0 0 15px #ebc293;
}

.navbar svg {
  width: 32px;
  height: 32px;
}
/* About Me */

#about {
  min-height: 100vh;
  margin-left: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 60px 10%;
}

.about-text {
  width: 45%;
}

.about-small {
  font-size: 14px;
  letter-spacing: 4px;
  color: #8b5e4b;
}

.about-text h1 {
  font-size: 72px;
  margin: 10px 0;
  color: #5c3b2e;
}

.about-text h2 {
  font-size: 28px;
  font-weight: 400;
  color: #8b5e4b;
}

.about-text p:last-child {
  margin-top: 25px;
  font-size: 18px;
  line-height: 1.7;
  color: #6f5a50;
}

.about-character {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.character-base {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.character-eyes {
  position: absolute;
  width: 500px;
  height: auto;
  left: 53.3%;
  top: 32.3%;
  transform: translate(-50%, -50%) scale(0.21);
}
.character-eyes.viewer {
  top: 34%;
}
.character-eyes.closed {
  top: 32%;
  transform: translate(-50%, -50%) scale(0.21);
}
.typing-body {
  position: relative;
  left: 0;
  top: -4px;
}
.character-eyes.laptop {
  transition: left 0.1s ease;
}

.character-eyes.laptop.typing-1 {
  left: 52.9%; /* sağ */
  top: 32%;
}

.character-eyes.laptop.typing-2 {
  left: 52.7%; /* sol */
}
/*Bu Kısım TELEFONDA Kİ GÖRÜNÜMÜ İÇİN */
@media (max-width: 768px) {
  #about {
    margin-left: 0;
    flex-direction: column;
    text-align: center;
    padding: 100px 20px;
  }

  #about img {
    width: 80%;
    max-width: 400px;
  }
}
/*BU KISIMA KADAR*/