
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ecd8c8;
  color: rgb(145, 97, 97);
  font-family: Arial, sans-serif;
}